
table{
    border-collapse: collapse;
    border: 1px solid rgb(43, 216, 37);
}
tr{
   margin: 5px;
}
td th{
    border: 1px solid rgb(43, 216, 37);
}
thead tr:first-child{
   background-color: chartreuse;
   color:white;
   height: 40px;
   
}
thead tr:last-child{
    background-color: rgb(170, 224, 115);
    font-weight: 100px;
    height: 30px;
}
thead tr th{
    font-weight: 100px;
}
tbody .umbrellaRed{
    color: red;
}
tbody tr tbody:first-child{
    width: 100px;
}
tbody tr td:last-child{
    width: 130px;
}
tbody tr td{
    font-size: small;
    font-weight: 500px;
}