form{
    width: 196px;
    height: 180px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px #ccc;
    padding: 0px 5px;
}
.form_group{
    margin: 5px 10px ;
}

.form_group h5{
    padding: 4px;
    margin: 0px;
    font-weight: 100px;
}
input{
    outline: 0;
}
.form-control{
    border-radius: 3px;
    box-shadow: 0 0 0.5px #ccc;
    border: 1px solid #ccc;
    border-radius: none;
}