.form_group h5{
    padding: 4px;
    margin: 0px;
    font-weight: 100px;
}

.form-control{
    border-radius: 3px;
    box-shadow: 0 0 0.5px #ccc;
    border: 1px solid #ccc;
    width: 300px;
    outline: none;
}