body{
    padding:0px;
    margin: 0px;
}
.header{
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    /* bottom: 0px; */
}
.menu>ul>li{
    display: inline-block;
    list-style: none;
    font-variant: small-caps;
    position: relative;
    padding:10px 0px;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding:0px 20px;
}
.subnav {
    position: absolute;
    display:none;
    background-color: white;
    box-shadow: 0 0 1px rgb(63, 61, 61);
    width: 200px;
    list-style: none;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
}

.subnav li{
    display: block;
    width: 100%;
}
.subnav li a{
    display: block;
    text-decoration: none;
    color:orange;
  
}
.subnav li a:hover{
    background-color: orange;
    color:red;
}
ul li:hover> ul{
    display: block;
}
.Login_Resgistration{
    position: absolute;
    top:0px;
    right: 0px;
    border-bottom-left-radius:30px ;
    background-color:orange ;
}
.Login_Resgistration li{
    display: inline-block;
    list-style: none;
    font-variant: small-caps;
}
.Login_Resgistration a{
    text-decoration: none;
    color: white;
    padding:0px 10px;
}
.TextName{
    text-align: center;
    position: absolute;
    display: inline-block;
    left:2%;
    bottom:15%;
}
.TextName h1{
    text-shadow:4px 4px 20px rgb(247, 170, 4);
    color:aliceblue;
    font-weight: bold;
    font-variant: small-caps;
}
.TextName strong{
    letter-spacing: 2px;
    color:rgb(224, 78, 34);
    font-weight: bold;
    font-variant: small-caps;
}