body{
    text-align: center;
}

.header a{
    text-decoration: none;
    color:blue;
    font-variant: small-caps;
    margin:0 15px;
}
.header a:visited{
    color:green;
}

.header a:hover{
    text-decoration:underline;
    color:red;
}
