.column{
    width:25%;
    float:left;
}
.sanPham{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    padding:10px;
    margin:5px;
    text-align: center;
}
.sanPham .name{
    font-variant: small-caps;
    color: blue;
    font-size: large;
}
.sanPham img{
    max-width: 95%;
}
.sanPham .price{
    font-weight: bold;
    font-size: large;
    color:red;
}
.sanPham del{
    color:gray;
    margin:0 5px;
}