table{
    border-collapse: collapse;
    border: 2px solid rgb(128, 149, 194);
}
thead tr{
    background-color: blue;
}
td ,th{
    border: 2px solid rgb(128, 149, 194);
    font-variant: small-caps;
}
th{
    color:white;
    font-weight: 100px;
    font-family:  Arial, sans-serif;
    height: 30px;
    padding: 10px 20px;
    margin: 0 5px;
}
tbody tr:nth-child(2n+1){
    background-color: #ccc;
}
tbody td{
    padding: 10px;
}