body{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
ul{
    border-radius: 5px;
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 5px;
    box-shadow: 0 0 2px #ccc;
}
ul li a{
    background: url(./images/icon.png) no-repeat 10px center;
     text-decoration: none;
     border-bottom: 1px dotted orangered;
     padding: 8px 5px 8px 30px;
     font-variant: small-caps;
     font-size: large;
     color:darkorange;
     display: block;
}

ul li a:hover{
    background: url(./images/icon_hover.png) no-repeat 10px center;
    background-color: darkorange;
    color: aliceblue;
    border-bottom: 1px dotted white;
    font-weight: bold;
}
